body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  padding: 0 1rem;
}

.content {
  padding: 1.5rem 0;
  min-height: calc(100vh - 70px - 64px);
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .card-image {
  max-height: 400px;
}

.card .card-image img {
  max-height: inherit;
  object-fit: fill;
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0.5rem;
}

.radio:not(:last-child) {
  margin-right: 1rem;
}

[type="radio"].with-gap:checked+span:before {
  border-color: #ce93d8;
}

[type="radio"].with-gap:checked+span:after {
  background-color: #8e24aa;
  border-color: #8e24aa;
}